@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-image: url("pattern\ 239.gif");
}

#wrapper {
    background-color: #ffffff99;
    min-width: 360px;
    max-width: 750px;
    margin: auto;
    padding: 25px;
    margin-top: 10px;
    border-radius: 25px;
    border: solid 2px rgb(30, 0, 112);
}

h1, p {
    padding: 10px;
}

h1, h2 {
    font-family: Mogra, sans-serif;
    color:rgb(21, 4, 61);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
    margin-top: 15px;
}

form {
    padding: 10px;
}

article {
    display: flex;
    flex-wrap: wrap;
}

.puzzle {
    display: grid;
    border: solid 3px black;
    grid-template-columns: 100px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    grid-template-rows: 100px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    /*float: left;*/
    margin: 15px;
    width: 350px; 
    height: 350px; 
}

.controls {
    min-width:200px;
    max-width: 325px;
    padding: 20px;
}

.instructions {
    min-width: 300px;
}

.puzzle div.border {
    border: solid 2px rgb(16, 46, 219);
    text-align: center;
    padding: 5px;
}

.puzzle div.grid {
    border: solid 2px black;
    /*padding: 25px;*/
    background-color:rgb(220, 243, 241);
}

.puzzle div.clicked {
    background-color:rgb(7, 109, 156);
}

.puzzle div.exed {
    background-color:rgb(247, 140, 69);
}

button {
    padding: 8px;
    margin: 15px 0px;
    background-color:rgb(220, 243, 241);
}

button.reset {
    display: none;
}

select {
    background-color:rgb(220, 243, 241);
}

hr {
    margin: 25px 0px;
}

label {
    margin-bottom: 15px;
}