* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-image: url("flowers 26.gif");
}

#wrapper {
    background-color: #ffffff99;
    max-width: 700px;
    margin: auto;
    padding: 25px;
    margin-top: 10px;
    border-radius: 25px;
    border: solid 2px darkgreen;
}

h1, p {
    padding: 10px;
}

form {
    padding: 10px;
}

.puzzle {
    display: grid;
    border: solid 3px black;
    grid-template-columns: 100px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    grid-template-rows: 100px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    float: left;
    margin: 15px;
}

.puzzle div.border {
    border: solid 2px rgb(16, 46, 219);
    text-align: center;
    padding: 5px;
}

.puzzle div.grid {
    border: solid 2px black;
    /*padding: 25px;*/
    background-color:rgb(220, 243, 241);
}

.puzzle div.clicked {
    background-color:rgb(7, 109, 156);
}

.puzzle div.exed {
    background-color:rgb(247, 140, 69);
}

button {
    padding: 10px;
    margin: 5px;
}

button.reset {
    display: none;
}